body {

    background-color: black;
    color: silver;

};

header {

    font-size: larger;
    border: 1em, solid, silver;
    font-weight: bolder;

};

nav {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style-type: none; 
    
};
